{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
{block content}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Moje forum</title>
        <style>
        </style>
    </head>
    <body>

    </body>
    </html>
{/block}