<footer class="footer text-center">
	<div class="copyrights bg-black" style="margin-top: 15px ">
		<p>Praha © 2017, All Rights Reserved
			<br>
			<span>Web Design By: Jakub Schneller</span></p>
		<p><a href="https://www.facebook.com/plantaznik.schneller" target="_blank">Facebook<i aria-hidden="true"></i> </a></p>
	</div>
</footer>